
/* This file is for when I need to save a new PDF version of my resume, as the PDF styling is currently different than the website styling for visual readability
and accessibility while I figure out why it's not letting the text zoom in with the webpage */

/********************************** Base Setup **********************************/

@font-face {
    font-family: Masiku;
    src: url(masiku/Masiku.ttf);
}

html {
    font-family: Courier;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 10vw;
    margin-right: 10vw;

    /* background-image: radial-gradient(#a319b0,#5833d4); */
    /* background-image: radial-gradient(#a63fb0, #7050d9); */
    background-image: radial-gradient(#a559ad, #8068ce);

}

/**************************************** Header/First Contact Info ****************************************/

#head {
    text-align: center;
}

#name {
    font-family: "Masiku";
    font-size: 2.5vh;
    letter-spacing: 0.4vw;
    padding-bottom: 3vh;
    margin-bottom: -0.005vh;
    text-decoration: underline #1a016e;
}

#langs {
    margin-top: -1.5vh;
    margin-bottom: 3.2vh;
    font-size: 2vh;
    letter-spacing: 0.3vw;
}

.contact {
    font-family: sans-serif;
    margin-top: -1vh;
    letter-spacing: 0.07vw;
    text-align: center;
    font-size: 1.3vh;
}

.contact-block {
    margin-bottom: -1vh;
}

.contact-link {
    letter-spacing: 0.15vw;
    text-align: center;
    font-size: 1.7vh;
    font-weight: bold;
}

.contact-link:link {
    color: black;
}

.contact-link:hover {
    color: #d000db
}

.contact-link:active {
    color: white;
}

.contact-link:visited {
    color: #1a016e;
}

/************************************************************ Main Content ************************************************************/

#greeting {
    text-align: justify;
    margin-top: 6vh;
    font-size: 1.5vh;
    font-weight: bolder;
    letter-spacing: 0.13vw;
    margin-bottom: 6vh;
    margin-left: 0vw;
}

/*************************************** Chart and Skills/Qualifications ***************************************/

.headings {
    margin-left: 5vw;
    font-family: "Masiku";
    font-size: 2vh;
    letter-spacing: 0.25vw;
    text-decoration: underline #1a016e;
    margin-top: 5vh;
    margin-bottom: 2vh;
}

#table_div {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 1.1vh;
  }
  
.container table {
    background-color: transparent;
  }
  
.header-row-style {
    background-color: rgb(62, 50, 241, 0.5);
    border-top-width: 0.2vh;
    border-top-style: solid;
    border-top-color: #000000;
    border-bottom-color: #000000;
    border-bottom-width: 0.2vh;
    border-bottom-style: solid;
    margin-bottom: 0.5vh;
}

ul {
    font-size: 1.4vh;
    font-weight: bolder;
    letter-spacing: 0.1vw;
}

li {
    margin-bottom: 0.5vh;
}

  
/*************************************** Education Stuff***************************************/

.schools-xp {
    margin-top: -0.5vh;
    margin-left: 9vw;
    margin-bottom: 5vh;
    font-size: 2vh;
    letter-spacing: 0.1vw;
}

#certs-group {
    margin-top: -5vh;
    margin-bottom: 2.5vh;
}

.certs {
    margin-left: 9vw;
    font-size: 1.4vh;
}

.degree {
    margin-top: -5vh;
    font-size: 2.1vh;
    margin-left: 12vw;
    font-style: italic;
}

.elaborate {
    margin-top: -2vh;
    font-size: 1.4vh;
    letter-spacing: 0.1vw;
    margin-left: 12vw;
    margin-bottom: 2.5vh;
}

/*************************************** Footer Stuff ***************************************/

/*************************** End Link Actions ***************************/

#closing-statement {
    margin-top: 5.4vh;
    margin-bottom: 5.4vh;
    font-family: "Masiku";
    color: black;
    font-size: 1.8vh;
    text-align: center;
    letter-spacing: 0.2vw;
}

#closing-statement-link {
    font-size: 2.2vh;
    letter-spacing: 0.2vw;
}

#closing-statement-link:hover {
    color: #d000db;
}

#closing-statement-link:active {
    color: white;
}

#closing-statement-link:visited {
    color: #1a016e
}

/*************************** End Contact ***************************/

.contact-end {
    font-family: sans-serif;
    letter-spacing: 0.07vw;
    text-align: center;
    font-size: 1.7vh;
}

.contact-link-end {
    font-family: Courier;
    margin-top: -1.5vh;
    letter-spacing: 0.07vw;
    text-align: center;
    font-size: 3vh;
}

#contact-end-to-change-margin {
    margin-bottom: -2vh;
}

#contact-end-to-change-margin2 {
    margin-bottom: -0.15vh;
}

.contact-link-end:link {
    color: black;
}

.contact-link-end:hover {
    color: #d000db
}

.contact-link-end:active {
    color: white;
}

.contact-link-end:visited {
    color: #1a016e;
}

#box-for-contact {
    padding-top: 0.25vh;
    padding-bottom: 2vh;
    border-style: outset;
    border-color: #1a016e;
    border-width: 0.5vh;
}

/*************************** Back to Top btn***************************/

#btn {
    background-color: #c87ceb;
    box-shadow: 0 0.4vw 0.7vh 0 #1a016e;
}

#btn:hover {
    text-decoration: underline #1a016e 0.25vw;
    box-shadow: 0 1vw 1.5vh 0 #1a016e;
}

#btn:active {
    background-color: #d000db;
}

.back {
    position: relative;
    margin-top: 5.4vh;
    font-family: "Masiku";
    font-size: 2vh;
    font-weight: bolder;
    letter-spacing: 0.2vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 18vw;
    left: 14.6vw;
}
