/********************************** Base Setup **********************************/

@font-face {
    font-family: "Junior Cat";
    src: url(junior-cat/Junior_CAT.ttf);
}

html {
    margin-top: 8vh;
    margin-bottom: 10vh;
    margin-left: 10vw;
    margin-right: 10vw;

    /* background-image: radial-gradient(#a319b0,#5833d4); */
    /* background-image: radial-gradient(#a63fb0, #7050d9); */
    background-image: radial-gradient(#a559ad, #8068ce);

}

h1 {
    font-family: "Junior Cat";
    font-size: 10vh;
    letter-spacing: 0.4vw;
    padding-bottom: 2vh;
    margin-bottom: -0.005vh;
    text-decoration: underline #1a016e;
}

h2 {
    margin-top: -0.8vh;
    margin-bottom: 6vh;
    font-size: 3vh;
    letter-spacing: 0.3vw;
}

a {
    font-weight: bolder;
}

a:link {
    color: black;
    font-size: 2.1vh;
}

a:hover {
    color: #d000db
}

a:active {
    color: white;
}

a:visited {
    color: #1a016e;
}

ul {
    font-size: 2.3vh;
    font-weight: bolder;
    letter-spacing: 0.1vw;
}

li {
    margin-bottom: 0.5vh;
}

/**************************************** Header/First Contact Info ****************************************/

#head {
    text-align: center;
}

.contact {
    margin-top: -1.5vh;
    letter-spacing: 0.07vw;
    text-align: center;
}

.headings {
    margin-left: 5vw;
    font-family: "Junior Cat";
    font-size: 4.4vh;
    letter-spacing: 0.25vw;
    text-decoration: underline #1a016e;
    margin-top: 11vh;
    margin-bottom: 5vh;
}

#greeting {
    text-align: justify;
    margin-top: 10.5vh;
    font-size: 2.6vh;
    font-weight: bolder;
    letter-spacing: 0.13vw;
    margin-bottom: 10vh;
    margin-left: 0vw;
}

/*************************************** Chart ***************************************/

#table_div {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.15);
    padding: 1.1vh;
  }
  
.container table {
    background-color: transparent;
  }
  
  .header-row-style {
    background-color: rgb(62, 50, 241, 0.5);
    border-top-width: 0.2vh;
    border-top-style: solid;
    border-top-color: #000000;
    border-bottom-color: #000000;
    border-bottom-width: 0.2vh;
    border-bottom-style: solid;
    margin-bottom: 0.5vh;
  }
  
/*************************************** Education Stuff***************************************/

.schools-xp {
    margin-top: 5vh;
    margin-left: 19vw;
    font-size: 2.7vh;
    letter-spacing: 0.1vw;
}

.degree {
    margin-top: -2vh;
    font-size: 2.5vh;
    margin-left: 19vw;

}

p {
    margin-top: -1vh;
    font-size: 2.3vh;
    margin-left: 19vw;
}

.certs {
    margin-left: 15.8vw;
}

/*************************************** Footer Stuff ***************************************/

.back {
    position: relative;
    margin-top: 10vh;
    font-family: "Junior Cat";
    font-size: 3vh;
    font-weight: bolder;
    letter-spacing: 0.2vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 18vw;
    left: 14.96vw;
}

/*************************** Back to Top btn***************************/

#btn {
    background-color: #c87ceb;
    box-shadow: 0 0.4vw 0.7vh 0 #1a016e;
}

#btn:hover {
    text-decoration: underline #1a016e 0.25vw;
    box-shadow: 0 1vw 1.5vh 0 #1a016e;
}

#btn:active {
    background-color: #d000db;
}

/*************************** End Link Actions ***************************/

#ender {
    margin-top: 12vh;
    margin-bottom: 13vh;
    font-family: "Junior Cat";
    color: black;
    font-size: 4vh;
    text-align: center;
    letter-spacing: 0.2vw;
}

#ender-link {
    font-size: 4vh;
    letter-spacing: 0.2vw;
}

#ender-link:hover {
    color: #d000db;
}

#ender-link:active {
    color: white;
}

#ender-link:visited {
    color: #1a016e
}

/*************************** End Contact ***************************/

.contact-end {
    margin-top: -1.5vh;
    letter-spacing: 0.07vw;
    text-align: center;
    font-size: 2.7vh;
}

.contact-link-end:link {
    font-size: 2.7vh;
}

#box-for-contact {
    padding-top: 5vh;
    padding-bottom: 2vh;
    border-style: outset;
    border-color: #1a016e;
    border-width: 0.5vh;
}